.pattern{
    background-image: url(../img/pattern.png);
    height: 190px;
    background-color: #4da1ff;
    background-size: 700px;
   
}

#logo{
    width: auto;
    height: 80px;
    margin-top: 80px;
    margin-left: 10px;    
}

h1{
    font-size: 80px;
    font-weight: 1200;
    margin-bottom: 0px;
}

.writer{
    
}

#sottotitolo{
    font-size: 30px;
    color: grey;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 1000;
}

#sottotitolo_2{
    font-size: 25px;
    color: grey;
    font-weight: 800;
    margin-top: 0px;
}

.tim{

}