*{
    margin: 0;
}

.pattern{
    background-image: url(../img/pattern.png);
    height: 190px;
    background-color: #4da1ff;
    background-size: 700px;
    margin: auto;
    width: 80%;   
}

main{
    width: 80%;
    margin: auto;
}

#logo{
    width: auto;
    height: 80px;
    margin-top: 80px;
    margin-left: 10px;    
}

h1{
    font-size: 80px;
    font-weight: 1200;
    margin-bottom: 0px;
}

.writer{
    
}

#sottotitolo{
    font-size: 30px;
    color: grey;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 1000;
}

#sottotitolo_2{
    font-size: 25px;
    color: grey;
    font-weight: 800;
    margin-top: 0px;
}

.tim{
    margin-top: 20px;

}

.name_photo{
    font-size: 20px;
}

th{
    background-color: #4da1ff;
    color: white;
}

.riga{
    background-color: aquamarine;
}

#size_tab{
    width: 50%;
}

#first_tab{
    text-align: start;
}

#second_tab{}


footer{
    margin: auto;
    width: 80%;
}

#monitor{
    background-image: url(../img/monitor.jpg);
    height: 200px;
    background-repeat: no-repeat;
    margin-top: 10px;
    background-size: contain;
}

#graph{
    background-image: url(../img/graph.jpg);
    height: 200px;
    background-repeat: no-repeat;
    margin-top: 5px;
}

#white{
    color: white;
    font-size: 25px;
    font-weight: 800;
    margin-left: 8px;
}